.section {
  &__four {
    background: #ffe8d8;
    h2{
      margin-top: 100px;
      margin-bottom: 49px;
    }
  }
  &__four-center {
    display: block;
    margin: auto;
  }
  &__four__mob {
  }
  &__four__mob__item {
  }
  &__four__mob__item-text {
  }
}