.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 1350px;
    position: relative;
    @media (max-width: 1350px) {
        width: 90%;
    }
    @media (max-width: 992px) {
        width: 100%;
    }
}

.page-wrap {
    position: relative;
    overflow-x: hidden;
}
