@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "tags.scss";
@import "layout.scss";

@import "utils.scss";

@import "header/*";
@import "blocks/*";
@import "footer/*";

@import "libs/*";

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1350px) {
  .section__six__left #accordion {
    width: 670px;
  }
  .section__one__wrapper__item-man {
    left: 41vw;
    height: auto;
  }
  .header__left{
    background-position: right;
  }
}
@media only screen and (max-width : 1200px) {
  .section__six__left #accordion {
    width: 550px;
  }
  .section__six__right .form-bottom {
    width: 370px;
  }
  .section__one__wrapper__item-man {
    left: 46vw;
    height: 400px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .pc{
    display: none;
  }
  .header__left-man, .header__right-manRight{
    display: none;
  }
  .header__left {
    background-position: 80%;
  }
  .header__top-tel{
    float: none;
    text-align: center;
  }
  .section__four__mob{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
      width: 350px;
      margin: auto;
      display: block;
      border-radius: 50%;
      height: 350px;
      color: black;
      box-shadow: 6px 8px 6px 0px rgba(0, 0, 0, 0.3);
    }
  }
  .section__four__mob__item{
    width: 80%;
    margin-bottom: 40px;
    background: #e7cabc;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.28);
    border-radius: 6px;
    padding: 25px 0;
  }
  .section__four__mob__item-text{
    text-align: center;
    background: rgba(255, 255, 255, 0.43);
    margin-top: 25px;
    padding: 15px 0;
  }
  .section__six{
    flex-direction: column;
    align-items: center;
  }
  .section__six__right{
    margin-top: 80px;
  }
  .footer{
    flex-wrap: wrap;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header__left,.header__right{
    display: none;
  }
  .header__center{
    flex: 100%;
  }
  .header__center h1{
    text-align: center;
  }
  .section__one__wrapper__item-man,.section__one__wrapper-bg{
    display: none;
  }
  .section__one__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .section__one__wrapper__item {
    position: relative;
    padding: 10px;
    border: 2px solid;
    margin: 10px;
    border-radius: 15px;
    width: auto;
  }
  .section__two__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .section__two-center{
    display: none;
  }
  .section__two-left{
    left: inherit;
    img{
      width: 250px;
    }
  }
  .section__two-right{
    right: 0;
    img{
      width: 250px;
    }
  }
  .section__six__left #accordion{
    width: 450px;
  }
  .section__one__wrapper__text {
    color: #fff;
    z-index: 12;
    background: rgba(97, 97, 97, 0.66);
    width: 100%;
    left: 0!important;
    right: 0!important;
    top: 0!important;
    bottom: 0!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
  }
  .section__one {
    background: #fee7d5;
  }
  .section__two h2 {
    margin-top: 60px;
  }
  .section__three h2 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .section__five h2{
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .section__four h2{
    margin-top: 60px;
  }
  .footer__left,.footer__center, .footer__right{
    margin: 15px;
  }
  .section__six{
    padding-bottom: 80px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  h2{
    font-size: 25px;
  }
  .section__six__left #accordion,.section__six__right .form-bottom{
    width: 90%;
    margin: auto;
  }
  .header__center{
    padding-left: 10px;
  }
  .header__center h1{
    margin-top: 130px;
  }
  .footer{
    text-align: center;
  }
  .section__four__mob img{
    width: 250px;
    height: 250px;
  }
  .section__three__item__text{
    text-align: center;
  }
  .section__six__right .form-bottom form input[type=submit]{
    width: 100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.section__four__mob{
  display: none;
}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

