<footer class="footer">
	<div class="footer__left">
		ИП Пашкин К. С. <br>
		ИНН 732813965889
	</div>
	<div class="footer__center">
		тел. +7-960-372-52-57
	</div>
	<div class="footer__right">
		<a href="#">Условия и Политика компании</a>
	</div>
</footer>