<header class="header" id="header">

    <div class="header__top">
        <div class="container">
        <div class="header__top-tel"><img data-src="/img/vk-social-logotype.svg" alt=""><span>+7 (960) 3725257</span></div>
        </div>
    </div>

    <div class="header__wrapper">
        <div class="header__left">

            <img class="header__left-man" data-src="img/header/man.png" alt="header-8">
        </div>
        <div class="header__center">
            <div class="header__center-border"></div>
            <h1>ШКОЛА РАЗВИТИЯ
                НАВЫКОВ “ЕиЛ”</h1>
            <h2>Твои новые способности.</h2>
            <div class="header__center__bottom">
                <div class="header__center__bottom-item">
                    Покажем Вам скрытые <br>
                    способности человека.
                </div>
                <div class="header__center__bottom-item">
                    Вы увидите как просто <br>
                    могут решаться любые вопросы.
                </div>
                <div class="header__center__bottom-item">
                    Вы решите свои вопросы <br>
                    в бизнесе и в жизни.
                </div>
            </div>
            <div class="header__center-button">ЗАПИСАТЬСЯ</div>
        </div>
        <div class="header__right">
            <img class="header__right-manRight" data-src="img/header/man-right.png" alt="header__right">
        </div>
    </div>
</header>