<section class="section__five">
    <h2>Люди, прошедшие “Мозговой штурм”, так говорят об этом: </h2>
    <div class="slider-reviews">
        <img data-src="img/section-five/reviews/1.jpg" alt="">
        <img data-src="img/section-five/reviews/2.jpg" alt="">
        <img data-src="img/section-five/reviews/3.jpg" alt="">
        <img data-src="img/section-five/reviews/4.jpg" alt="">
        <img data-src="img/section-five/reviews/5.jpg" alt="">
        <img data-src="img/section-five/reviews/6.jpg" alt="">
        <img data-src="img/section-five/reviews/7.jpg" alt="">
        <img data-src="img/section-five/reviews/8.jpg" alt="">
        <img data-src="img/section-five/reviews/9.jpg" alt="">
        <img data-src="img/section-five/reviews/10.jpg" alt="">
        <img data-src="img/section-five/reviews/11.jpg" alt="">
        <img data-src="img/section-five/reviews/12.jpg" alt="">
        <img data-src="img/section-five/reviews/13.jpg" alt="">
        <img data-src="img/section-five/reviews/14.jpg" alt="">
        <img data-src="img/section-five/reviews/15.jpg" alt="">
        <img data-src="img/section-five/reviews/17.jpg" alt="">
        <img data-src="img/section-five/reviews/18.jpg" alt="">
        <img data-src="img/section-five/reviews/19.jpg" alt="">
        <img data-src="img/section-five/reviews/20.jpg" alt="">
        <img data-src="img/section-five/reviews/21.jpg" alt="">
        <img data-src="img/section-five/reviews/22.jpg" alt="">
        <img data-src="img/section-five/reviews/23.jpg" alt="">
    </div>
</section>

