<section class="section__one">
   <h2>У каждого человека, даже самого успешного, есть в жизни свои вопросы и проблемы</h2>
    <div class="container">
        <div class="section__one__wrapper">
            <img class="section__one__wrapper-bg" data-src="img/section-one/effect.png" alt="effect">
           <div class="section__one__wrapper__item">
               <img data-src="img/section-one/1.png" alt="">
               <div class="section__one__wrapper__text left top">
                   Денег нет, <br>
                   когда они нужны...
               </div>
           </div>
            <div class="section__one__wrapper__item">
                <img data-src="img/section-one/2.png" alt="">
                <div class="section__one__wrapper__text left top">
                    В семье, <br>
                    как на фронте...
                </div>
            </div>
            <div class="section__one__wrapper__item">
                <img data-src="img/section-one/3.png" alt="">
                <div class="section__one__wrapper__text right top">
                    Сотрудников <br>
                    поубивал бы...
                </div>
            </div>
            <div class="section__one__wrapper__item">
                <img data-src="img/section-one/4.png" alt="">
                <div class="section__one__wrapper__text left">
                    Жесткие переговоры <br>
                    выматывают душу...
                </div>
            </div>
            <div class="section__one__wrapper__item">
                <img data-src="img/section-one/5.png" alt="">
                <div class="section__one__wrapper__text left">
                    Время, время, <br>
                    где тебя взять?...
                </div>
            </div>
            <div class="section__one__wrapper__item">
                <img data-src="img/section-one/6.png" alt="">
                <div class="section__one__wrapper__text right">
                    Здоровье <br>
                    напоминает, <br>
                    что не вечен...
                </div>
            </div>
            <div class="section__one__wrapper__item">
                <img data-src="img/section-one/7.png" alt="">
                <div class="section__one__wrapper__text left">
                    Где взять?.. <br>
                    Как быть?.. <br>
                    Что делать?..
                </div>
            </div>
            <div class="section__one__wrapper__item">
                <img data-src="img/section-one/8.png" alt="">
                <div class="section__one__wrapper__text left">
                    Устал...
                </div>
            </div>
            <div class="section__one__wrapper__item">
                <img data-src="img/section-one/9.png" alt="">
                <div class="section__one__wrapper__text right">
                    Сто дел, <br>
                    а я один...
                </div>
            </div>
            <img class="section__one__wrapper__item-man" data-src="img/section-one/man.png" alt="man">
        </div>
    </div>
</section>