<section class="section__two">
    <h2>Так происходит потому, что человек не использует все свои способности</h2>
    <div class="section__two__wrapper">
        <div class="section__two-left">
            <img data-src="img/section-two/left.png" alt="">
            <div class="section__two__text">
                Мы привыкли к тому, <br>
                чему нас научили
            </div>
        </div>
        <div class="section__two-center">
            <img data-src="img/section-two/men.png" alt="men">
        </div>
        <div class="section__two-right">
            <img data-src="img/section-two/right.png" alt="right">
            <div class="section__two__text">
                И не знаем о том, чем <br>
                владеем на самом деле
            </div>
        </div>
    </div>
</section>