<section class="section__six">
    <div class="section__six__left">
    <h3>Хочу уточнить...</h3>
        <div id="accordion">
            <h3>Почему такое название “Мозговой штурм”?</h3>
            <div>
                <span class="line"></span>
                <p>
                    Люди, познакомившиеся со скрытыми способностями, легко совершают <br>
                    штурм любых целей в бизнесе и жизни.
                </p>
            </div>
            <h3>Что нужно для “Мозгового штурма”?</h3>
            <div>
                <span class="line"></span>
                <p>
                    Список вопросов и Ваше желание их решить.
                </p>
            </div>
            <h3>Я не хочу, чтобы о моих вопросах узнали другие.</h3>
            <div>
                <span class="line"></span>
                <p>
                    Все конфиденциально. О Ваших вопросах не узнает никто.
                </p>
            </div>
            <h3>Где проводится “Мозговой штурм”?</h3>
            <div>
                <span class="line"></span>
                <p>
                    По договоренности - у Вас в офисе, у нас или по скайпу.
                </p>
            </div>
            <h3>Если мне не понравится?</h3>
            <div>
                <span class="line"></span>
                <p>
                    Вернем Вам деньги полностью.
                </p>
            </div>
            <h3>Что после “Мозгового штурма”?</h3>
            <div>
                <span class="line"></span>
                <p>Вы можете пройти обучение, освоить навыки  о которых Вы не знали, <br>
                    и получать результаты,  о которых и не мечтали.</p>
            </div>
        </div>
    </div>

    <div class="section__six__right">

        <div class="form-bottom">
            <h3>Хочу участвовать...</h3>
            <form action="/send.php">
            <h4>Заявка на участие</h4>
            <div class="form-control">
                <img src="img/section-six/avatar.svg" alt="avatar">
                <input type="text" name="fam" placeholder="Введите Вашу фамилию ">
            </div>
            <div class="form-control">
                <img src="img/section-six/avatar.svg" alt="avatar">
                <input type="text" name="name" placeholder="Введите Ваше имя">
            </div>
            <div class="form-control">
                <img src="img/section-six/phone-call.svg " alt="phone-call">
                <input type="text" name="tel" placeholder="Введите Ваш телефон">
            </div>
            <div class="form-control">
                <img src="img/section-six/envelope.svg" alt="envelope">
                <input type="text" name="tel" placeholder="Введите Вашу почту">
            </div>
            <div class="box-checkbox">
                <input id="checkbox" type="checkbox" name="checkbox" checked>
                <label for="checkbox">
                    <span class="modef"></span>
                <a href="#">Я ознакомлен и согласен с условиями и политикой <br>компании</a>
                </label>
            </div>
            <input type="submit" value="ОТПРАВИТЬ">
        </form>
        </div>
    </div>
</section>