<section class="section__four">
    <h2>На «Мозговом штурме» мы покажем Вам, где прячутся эти способности, <br>
        как ими пользоваться и Вы решите свои вопросы в бизнесе и в жизни</h2>
    <img class="section__four-center pc" data-src="img/section-four/bg-center.jpg" alt="Мозговом штурме">
    <div class="section__four__mob">
        <div class="section__four__mob__item">
            <img data-src="img/section-four/1.png" alt="four 1">
            <div class="section__four__mob__item-text">
                Поймете как легко заключать
                выгодные для всех сдела
            </div>
        </div>
        <div class="section__four__mob__item">
            <img data-src="img/section-four/2.png" alt="four 1">
            <div class="section__four__mob__item-text">
                Уберете все конфликты
                из своей жизни
            </div>
        </div>
        <div class="section__four__mob__item">
            <img data-src="img/section-four/3.png" alt="four 1">
            <div class="section__four__mob__item-text">
                Избавитесь от страхов и ступоров
            </div>
        </div>
        <div class="section__four__mob__item">
            <img data-src="img/section-four/4.png" alt="four 1">
            <div class="section__four__mob__item-text">
                Увидите как вдохновлять
                себя и других
            </div>
        </div>
        <div class="section__four__mob__item">
            <img data-src="img/section-four/5.png" alt="four 1">
            <div class="section__four__mob__item-text">
                Найдете время для отдыха
                и удовольствий
            </div>
        </div>
        <div class="section__four__mob__item">
            <img data-src="img/section-four/6.png" alt="four 1">
            <div class="section__four__mob__item-text">
                Просто решите свои вопросы
            </div>
        </div>
        <div class="section__four__mob__item">
            <img data-src="img/section-four/7.png" alt="four 1">
            <div class="section__four__mob__item-text">
                Восстановите свои силы
                и работоспособность
            </div>
        </div>
        <div class="section__four__mob__item">
            <img data-src="img/section-four/8.png" alt="four 1">
            <div class="section__four__mob__item-text">
                Увидите свои таланты
                и способности
            </div>
        </div>
    </div>
</section>