<section class="section__three">
    <h2>Но иногда наши скрытые способности неожиданно прорываются наружу <br>и тогда все вопросы решаются сами</h2>
    <div class="section__three__wrapper">
        <div class="section__three__item">
            <div class="section__three__item__in">
                <img data-src="img/section-three/1.png" alt="three 1">
                <div class="section__three__item__text">
                    Архимед открыл закон статики жидкости
                </div>
            </div>
        </div>

        <div class="section__three__item">
            <div class="section__three__item__in">
                <img data-src="img/section-three/2.png" alt="three 2">
                <div class="section__three__item__text">
                    Ньютон открыл Закон всемирного тяготения
                </div>
            </div>
        </div>
        <div class="section__three__item">
            <div class="section__three__item__in">
                <img data-src="img/section-three/3.png" alt="three 3">
                <div class="section__three__item__text">
                    Менделеев увидел таблицу химических элементов
                </div>
            </div>
        </div>
        <div class="section__three__item">
            <div class="section__three__item__in">
                <img data-src="img/section-three/4.png" alt="three 4">
                <div class="section__three__item__text">
                    Тайити Оно создал первый конвейер Toyota <br>
                    на принципах бережливого производства.
                </div>
            </div>
        </div>
        <div class="section__three__item">
            <div class="section__three__item__in">
                <img data-src="img/section-three/5.png" alt="three 5">
                <div class="section__three__item__text">
                    Артур Лаффер нарисовал на салфетке <br>
                    в кафе кривую сбора налогов
                </div>
            </div>
        </div>
        <div class="section__three__item">
            <div class="section__three__item__in">
                <img data-src="img/section-three/6.png" alt="three 6">
                <div class="section__three__item__text">
                    А одноклассник Вовка встретил с первого <br>
                    взгляда любовь всей своей жизни.
                </div>
            </div>
        </div>
    </div>
</section>